---
layout: archive
---
<p style="font-size: 17px;"> I am a member of the Warwick University ML Systems Lab, where I research the design process for neural networks in collaboration with Samsung.</p>
<p style="font-size: 17px;">My interests involve:</p>  
<ul>
    <li><p style="font-size: 17px; "margin-bottom: 0;">AI Misalignment and Misuse</p></li>
    <li><p style="font-size: 17px; "margin-bottom: 0;">Neural Architecture Search</p></li>
    <li><p style="font-size: 17px; "margin-bottom: 0;">Political Theory</p></li>
</ul>
<p style="font-size: 17px;">In 2024, I joined the Existential Risk Alliance (based at Cambridge University) as an AI Technical Governance Research Fellow. Last year, I was awarded Best Paper at the International Conference on Automated Machine Learning. Previously, I received a First Class (85%) BSc in Mathematics from Warwick University. </p>
