---
layout: archive
---
<p style="font-size: 18px;">I am a Machine Learning PhD candidate at the Univeristy of Wariwck, supervised by Prof. Hongkai Wen. I'm also a member of the Warwick ML Systems Lab, which works closely with the Cambridge SamsungAI Centre.</p>
<p style="font-size: 18px;">My research explores:</p>  
<ul>
    <li><p style="font-size: 18px; "margin-bottom: 0;">Efficient AI</p></li>
    <li><p style="font-size: 18px; "margin-bottom: 0;">Governance of AI</p></li>
    <li><p style="font-size: 18px; "margin-bottom: 0;">Computational Neuroscience</p></li>
</ul>
<p style="font-size: 18px;">In 2023, I received the <a href="https://www.youtube.com/watch?v=y-skTMWiZS0">Best Paper Award</a> at the International Conference of Automated Machine Learning. Previously, I received a First Class (85%) BSc in Mathematics from the University of Warwick, achieving a first in all 25 assessed modules. My interests are in understanding, regulating,
and developing intelligent systems that can be harnessed for the benefit of humanity.</p>
