---
layout: archive
---
<p style="font-size: 18px;"> I am a member of the Warwick University ML Systems Lab, where I research the design process for neural networks in collaboration with Samsung.</p>
My interests involve:</p>  
<ul>
    <li><p style="font-size: 18px; "margin-bottom: 0;">AI Safety</p></li>
    <li><p style="font-size: 18px; "margin-bottom: 0;">AI Efficiency</p></li>
    <li><p style="font-size: 18px; "margin-bottom: 0;">AI Consultancy</p></li>
</ul>
<p style="font-size: 18px;">In 2023, I was awarded <a href="https://www.youtube.com/watch?v=y-skTMWiZS0">Best Paper</a> at the International Conference of Automated Machine Learning. Previously, I received a First Class (85%) BSc in Mathematics from the University of Warwick, achieving a first in all 25 assessed modules. </p>
